@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Lora:ital,wght@0,400;0,600;0,700;1,600');
body{
  scroll-behavior: smooth;
  font-family: 'Lora',serif;
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:  hsl(0, 0%, 98%);
  color:black;
  padding: 20px 10px;
}
.dark{
  background-color: hsl(207, 26%, 17%);
  color:#fff;
 
}
.btn{
  border: none;
}
.search,.filter{
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  border: none;
  border-radius: 5px;
  width:250px;
}
